#space-page #intro {
	background-image: url(../img/space/3952766831_4b8d519f38_o.jpg);
}

#space-page #program {
	background-image: url(../img/space/hd-space-horsehead-nebula-hq-desktop.jpg);
}

#space-page #speakers {
	background-image: url(../img/space/space-suit.jpg);
}

#space-page #sign-up {
	background-image: url(../img/space/amazing_earth_wallpaper-normal.jpg);
}

#space-page #organisation {
	background-image: url(../img/space/space-pack-space-hd-pack-mint.jpg);
}

#space-page #sponsors {
	background-image: url(../img/space/5510965438_ee17fca0d5_o.jpg);
}

#time-page #intro {
	background-image: url(../img/time/Mayan-calendar.jpg);
}

#time-page #program {
	background-image: url(../img/time/2.jpg);
}

#time-page #competition {
	background-image: url(../img/time/hourglass-wide-1920x1200.jpg);
}

#time-page #sign-up {
	background-image: url(../img/time/15.jpg);
}

#time-page #sponsors {
	background-image: url(../img/time/6.jpg);	
}
