@font-face {
	font-family: 'moonhouse';
	src: url('../fonts/moonhouse.eot?') format('eot'), url('../fonts/moonhouse.woff') format('woff'), url('../fonts/moonhouse.ttf') format('truetype'), url('../fonts/moonhouse.svg#moonhouse') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
	padding: 0;
}

body {
	background-size: cover;
	background-position: center bottom;
	font: 1em/1.5em sans-serif;
	background-color: black;
	color: white;
}

header, section {
	background-size: cover;
	background-position: 50% 0;	
}

#landing-page {
	background-image: url(../img/space/earth.jpg);
}

#space-page header {
	background-image: url(../img/space/galaxy_logo.jpg);
}

#time-page header {
	background-image: url(../img/time/4708217871_fa72a9d2eb_logo.jpg);
}

#the-continuum {
	font: 80px moonhouse;
	width: 100%;
	text-align: center;
}

#landing-page .container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 730px;
	height: 400px;
}

#landing-page .content {
	position: relative;
}

#landing-page .panel {
	background: transparent;
	border: 2px solid white;
	border-radius: 20px;
	color: white;

	width: 300px;
	margin: 50px 10px;
	padding: 20px;
	float: left;

	font: 18px/25px sans-serif; 
}

#landing-page section {
	box-shadow: none;
}

.panel h1 {
	font-size: 30px;
	line-height: 40px;
}

.panel time {

}

.panel .read-on-button {
	display: inline-block;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 25px;
	line-height: 50px;
	width: 290px;
	margin: 10px 0 0 0;
	text-align: center;
	color: white;
	text-decoration: none;
}

.panel .read-on-button:hover,
.panel .read-on-button:focus {
	background: #fff;
	color: black;
}

header {
	background-color: black;
	margin-bottom: -50px;
}

header h1 {
	font: 300px/300px sans-serif;
	color: white;
	text-shadow: 0 1px 15px rgba(0,0,0,0.9);
	text-align: center;
	height: 300px;
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: auto;
}

section {
	border-top: 1px solid rgba(255, 255, 255,0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	position: relative;
	overflow-x: hidden;
}

section > h2 {
	font: 75px/100px sans-serif;
	margin: 50px 0 25px 50px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	z-index: 10;
}

section > article {
	max-width: 730px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 30px;
	color: white;
	border: 2px solid white;
	border-radius: 20px;
	margin: 0 auto;
	margin-bottom: 30px;
}

section > article:last-child {
	margin-bottom: 80px;
}

section article a,
section article a:visited {
	color: #a0b3ff;
}

p {
	margin-bottom: 10px;
}

footer {
	position: relative;
	top: -50px;
	height: 50px;
	line-height: 50px;
	background: black;
	text-align: center;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

footer a {
	color: inherit;
}

#location h2 {
	position: absolute;
	color: #333;
}

#location .map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	margin: -1px 0;
}

.map .location {
	min-width: 160px;
	color: black;
	text-align: center;
}

.map .location h3 {
	font-size: 18px;
}

.map .location a {
	color: #33f;
}

#sign-up > article {
	max-width: 500px;
}

nav {
	position: relative;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	z-index: 10;
}

nav.fixed {
	z-index: auto;
}

nav.fixed ul {
	position: fixed;
	top: 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	z-index: 100;
}

nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
	background: black;
	width: 100%;
}

nav ul li {
	display: inline;
}

nav ul li.toggle {
	display: none;
}

nav ul li a {
	display: inline-block;
	padding: 0 15px;
	margin: 0;
	font: 20px/50px sans-serif;
	color: white;
	text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
	text-decoration: underline;
}

/* Language switches */

.switch-to-english,
.switch-to-dutch {
	position: absolute;
	right: 15px;
	width: 50px;
	height: 30px;
	text-indent: 50px;
	overflow: hidden;
	bottom: 10px;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: 50% 0;	
}

.switch-to-english {
	background-image: url(../img/flag-uk.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/flag-uk.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/flag-uk.png', sizingMethod='scale')";
}

.switch-to-dutch {
	background-image: url(../img/flag-nl.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/flag-nl.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/flag-nl.png', sizingMethod='scale')";
}

/* Sign-up form */

.sign-up-form .happy-message {
	background: #aaf;
	padding: 15px;
	color: black;
	margin: 0 0 15px 0;
}

.sign-up-form div > label {
	display: block;
}

.sign-up-form div > label .error-message {
	color: #aaf;
	display: none;
}

.sign-up-form div.error > label .error-message {
	display: inline;
}

.sign-up-form div {
	margin-bottom: 15px;
}

.sign-up-form div.controls {
	margin-bottom: 0;
}

.sign-up-form div > input,
.sign-up-form div > select,
.sign-up-form div > textarea {
	width: 100%;
	font-size: inherit;
}

.sign-up-form div > textarea {
	height: 50px;
}

.sign-up-form button {
	font-size: inherit;
	padding: 5px 15px;
}

.sign-up-form ul {
	list-style: none;
}

.sign-up-form ul ul {
	margin-left: 18px;
}

.sign-up-form ul input[type=checkbox] {
	width: 16px;
	height: 16px;
}

/* Site-specific colors */
#time-page section article a,
#time-page section article a:visited {
	color: #33f;
}

#time-page footer {
	background-color: white;
	color: black; 
}

#time-page nav ul {
	background: white;
}

#time-page nav ul li,
#time-page nav ul li a {
	color: black;
}

#time-page section > article {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

#space-page .link-to-time {
	color: #f36;
}

#time-page .link-to-space {
	color: #39f;
}

#program th {
	text-align: left;
}

#program th,
#program td {
	padding: 0 0.5em 0 0;
}

#quintor { 
	text-align: center; 
} 

img.speaker { 
	float: left;
	width: 135px;
	margin-right: 10px;
	margin-top: 4px;
}

@media (max-width: 640px) {
	header h1 {
		font-size: 200px;
	}

	section > h2 {
		font-size: 50px;
		line-height: 50px;
		margin-left: 25px;
	}

	/* make menu always fixed */
	nav {
		z-index: auto;
		height: 0;
	}

	nav ul {
		position: fixed;
		top: 0;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
		z-index: 100;
		min-height: 50px;
	}

	/* Add a 'menu' button */

	nav ul li.toggle {
		display: block;
		position: absolute;
		top: 0;
		left: 10px;
		font: 50px/40px sans-serif;
		cursor: pointer;
	}

	/* Hide all menu items until hover */

	nav ul li a {
		display: none;
	}

	nav ul.open li a {
		display: block;
	}
}

@media (max-width: 480px) {
	header h1 {
		font-size: 120px;
	}
}